<!DOCTYPE <html>
	<head>
		<meta charset="utf-8">
		<title>Table web controller</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="static/css/style.css">
	</head>
	<body>

	<div class="container"
		<div class="row">
			<div class="col-xs-12">

				<form style="width: 360px; margin: 7% auto;">

	        <button type="button" class="btn btn-primary btn-lg table-control" data-command="up" data-keys="ArrowUp,Numpad8,U,u">
           <span class="glyphicon glyphicon-triangle-top"></span>
           </button>

	        <button type="button" class="btn btn-primary btn-lg table-control" data-command="down" data-keys="ArrowDown,Numpad2,D,d">
           <span class="glyphicon glyphicon-triangle-bottom"></span>
           </button>

				</form>
	
			</div>
		</div>
	</div>

  <script src="static/js/jquery-3.2.1.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/xtable.js"></script>
  <script src="static/js/app.js"></script>

	</body>
</html>