<!DOCTYPE <html>
	<head>
		<meta charset="utf-8">
		<title>XFEL Desk web controller</title>

		<meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
		<meta name="apple-mobile-web-app-capable" content="yes">

		<link rel="manifest" href="/static/manifest.json">
		<link rel="icon" href="/static/img/launcher-icon-1x.png" type="image/png" />
		<link rel="apple-touch-icon" href="/static/img/launcher-icon-1x.png">
		<link rel="apple-touch-icon" sizes="72x72" href="/static/img/launcher-icon-1-5x.png">
		<link rel="apple-touch-icon" sizes="144x144" href="/static/img/launcher-icon-3x.png">
		<link rel="apple-touch-icon" sizes="192x192" href="/static/img/launcher-icon-4x.png">

    <link rel="stylesheet" href="static/css/style.css">
	</head>
	<body>

	<div class="container">
    <div class="row">
			<div class="col-xs-12">
        <form class="directions">

	        <button type="button" class="btn btn-primary btn-lg table-control" data-command="up" data-keys="ArrowUp,U,u">
           <span class="glyphicon glyphicon-triangle-top"></span>
           </button>

	        <button type="button" class="btn btn-primary btn-lg table-control" data-command="down" data-keys="ArrowDown,D,d">
           <span class="glyphicon glyphicon-triangle-bottom"></span>
           </button>

         </form>

			</div>
		</div>
    <div class="row">
			<div class="col-xs-12">
        <form class="fan">

	        <button type="button" class="btn btn-primary btn-lg table-control" data-command="off" data-keys="Digit0,Numpad0"> 0 </button>
	        <button type="button" class="btn btn-primary btn-lg table-control" data-command="1" data-keys="Digit1,Numpad1"> 1 </button>
	        <button type="button" class="btn btn-primary btn-lg table-control" data-command="2" data-keys="Digit2,Numpad2"> 2 </button>
	        <button type="button" class="btn btn-primary btn-lg table-control" data-command="3" data-keys="Digit3,Numpad3"> 3 </button>

        </form>
			</div>
		</div>
	</div>

  <script src="static/js/jquery-3.2.1.min.js"></script>
  <script src="static/js/bootstrap.min.js"></script>
  <script src="static/js/xtable.js"></script>
  <script src="static/js/app.js"></script>

	</body>
</html>
